* {
  font-family: "Georgia";
  margin: 0;
  padding: 0px;
  font-size: 16px;
}
.container {
  border: 1px solid white;
  margin: 0 auto;
  padding-top: 10px;
  width: 960px;
}
.caption {
  background-color: #999999;
  color: white;
  font-size: 25px;
  height: 40px;
  padding: 18px;
  text-align: center;
  vertical-align: middle;
  width: 880px;
}
.table {
  display: table;
}
.row {
  display: table-row;
}
.column {
  display: table-cell;
}
.text-right {
  text-align: right;
}
.form {
  border: 2px solid #cccccc;
  padding: 20px;
  width: 872px;
}
.labels {
  color: #606060;
  font-weight: bold;
  padding-bottom: 20px;
  padding-right: 10px;
  vertical-align: top;
}
.inputs {
  border: 1px solid #cccccc;
  height: 28px;
  width: 415px;
}